@font-face {
    font-family: "Goyang";
    src: url("fonts/Goyang.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body * {
    font-family: Goyang;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#App {
    margin: 1.5em auto;
    max-width: 1200px;
    column-gap: 1.5em;
}

.SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 10px;
}

@media(max-width:992px) {
    .SearchResult {
        grid-template-columns: repeat(3, minmax(250px, 1fr))
    }
}

@media(max-width:768px) {
    .SearchResult {
        grid-template-columns: repeat(2, minmax(250px, 1fr))
    }
}

@media(max-width:576px) {
    .SearchResult {
        grid-template-columns: repeat(1, minmax(250px, 1fr))
    }
}

.SearchResult img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 디바이스 가로 길이가 768px 이하인 경우, 모달의 가로 길이를 디바이스 가로 길이만큼 늘려야 합니다. */
@media (max-device-width:768px) {
    .ImageInfo .content-wrapper {
        width: 100%;
    }
}

.SearchResult .item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.SearchInput {
    width: 100%;
    font-size: 40px;
    padding: 10px 15px;
}

.RandomButton {
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
}

.RandomButton:hover {
    color: skyblue;
}

.ToggleCheckBox {
    margin: 10px;
    cursor: pointer;
}

.SearchHistory {
    display: none;
    border: 1px solid black;
    padding: 10px;
    margin-top: 1rem;
}

.SearchHistory span {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    color: skyblue;
}

.ImageInfo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
    display: flex;
    justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
    padding: 5px;
}

.ImageInfo .content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

.ImageInfo .content-wrapper img {
    width: 100%;
}

.ImageInfo .content-wrapper button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
}

.ImageInfo .content-wrapper button:hover {
    color: skyblue;
}

.Loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: #f1f3f5;
}

.Loading span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: white;
    }
}